<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douyin.dao.mapper.CustomVlogMapper">


    <select id="getIndexVlogList" parameterType="map" resultType="com.douyin.model.vo.IndexVlogVO">
        SELECT
            v.id as vlogId,
            v.vloger_id as vlogerId,
            u.face as vlogerFace,
            u.nickname as vlogerName,
            v.title as content,
            v.url as url,
            v.cover as cover,
            v.width as width,
            v.height as height,
            v.like_counts as likeCounts,
            v.comments_counts as commentsCounts,
            v.is_private as isPrivate
        FROM
            t_vlog v
        LEFT JOIN
            t_users u
        ON
            v.vloger_id = u.id
        WHERE
            v.is_private = 0
        <if test="paramMap.search != null and paramMap.search != ''">
        AND
            v.title like '%${paramMap.search}%'
        </if>
        ORDER BY
            v.created_time
        DESC
    </select>

    <select id="getVlogDetailById" parameterType="map" resultType="com.douyin.model.vo.IndexVlogVO">
        SELECT
            v.id as vlogId,
            v.vloger_id as vlogerId,
            u.face as vlogerFace,
            u.nickname as vlogerName,
            v.title as content,
            v.url as url,
            v.cover as cover,
            v.width as width,
            v.height as height,
            v.like_counts as likeCounts,
            v.comments_counts as commentsCounts,
            v.is_private as isPrivate
        FROM
            t_vlog v
                LEFT JOIN
            t_users u
        ON
            v.vloger_id = u.id
        WHERE
            v.id = #{paramMap.vlogId}
    </select>
</mapper>
